<html xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="moderator/profile.html">

<title layout:fragment="title">Moderator profile/Edit product</title>

<div layout:fragment = "mainPart" class="col">
	<div class="filter-bar d-flex flex-wrap align-items-center">
		<form th:action="@{/product/editProduct}" method="post" enctype="multipart/form-data">
			<h5>Edit product <var class="price text-muted" th:text="${'ID: '+ product.getId()}">ID</var></h5>
			<input type="hidden" name="id" th:value="${product.getId()}">
			<div class="form-group col-md-12">
				<label>Name</label>
				<div class="row">
					<div class="col-md-8">
						<input type="text" name="name" th:value="${product.getName()}" th:placeholder="${product.getName()}" class="form-control">
					</div>
				</div>
			</div>

			<div class="form-group col-md-12">
				<label>Category</label>
				<div class="row">
					<div class="col-md-8">
						<select class="form-control" name="categoryId">
							<option th:each="c : ${categoryList}"
									th:value="${c.getId()}"
									th:text="${c.getId()==product.getCategory().getId()} ? ${'— '+c.getName()+' —'} : ${c.getName()}"
									th:selected="${c.getId()==product.getCategory().getId()}"></option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-group col-md-12">
				<label>Content</label><br>
				<textarea name="content" th:text="${product.getContent()}" id="editor1"></textarea>
			</div>

			<div class="form-group col-md-12">
				<label>Price</label>
				<div class="row">
					<div class="col-md-8">
						<input type="number" name="price" th:value="${product.getPrice()}" placeholder="price" class="form-control" step=0.01 min="0">
					</div>
				</div>
			</div>

			<div class="form-group col-md-12">
				<label>Image</label>
				<div class="row">
					<div class="col-md-8">
						<input type="file" name="image" class="form-control-file">
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

</html>